body{
      height: 100%;
}
.av_photo{
border-radius: 100px;
    border: 3px solid lightgrey;
    padding: 5px;
}

.dropleft{
margin-left: 93%;
margin-top: -3.8%;
    position: relative;
}

.dropdown-menu{

}



    .dropdown-menu::before {
    position: absolute;
    display: inline-block;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-left: 7px solid #CCC;
    display: inline-block;
    right: -7px;
    top: 42px;
    content: '';
}

.dropdown-menu::after {
    position: absolute;
    display: inline-block;
    border-bottom: 6px solid white;
    border-top: 6px solid transparent;
    border-left: 6px solid transparent;
    display: inline-block;
    right: -7px;
    top: 42px;
    content: '';
}


#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
   font-size: 14px;
    color: gray;
    padding: 5px;
}

.avatardisplay{
display: inline-block;
}

.avatardisplay img{
    margin: 25px;
    cursor:pointer;
}

.avatardisplay:hover > a{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.avatardisplay:hover > a:hover{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);

}

.avatardisplay a{
    text-decoration: none;
}

.av{
border-radius: 100px;
    border: 3px solid lightgrey;
    padding: 5px;
}
